<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <p>Edit your post</p>
    <p>Post id: <%= post.id %></p>
    <p>Post Username: @<%= post.username %></p>
    <form action=" " method="post">
        <textarea rows="10" cols="30"><%= post.content %></textarea><br><br>
        <button>Submit</button>
    </form>
    
</body>
</html>